<div class="container">
    <h1>Reactive Form</h1>
    <form [formGroup]="userForm">
        <div class="form-group row" [class.has-danger]="userForm.get('name').invalid">
            <label class="col-sm-2 form-control-label" for="name">Name</label>
            <div class="col-sm-10">
                <input type="text" id="name" class="form-control" formControlName="name" />
                <div ngxErrors="name"></div>
            </div>
        </div>
        <div class="form-group row" [class.has-danger]="userForm.get('password').invalid">
            <label class="col-sm-2 form-control-label" for="password">Password</label>
            <div class="col-sm-10">
                <input type="password" id="password" class="form-control" formControlName="password" />
                <div ngxErrors="password"></div>
            </div>
        </div>
        <div class="form-group row" [class.has-danger]="userForm.get('confirmPassword').invalid">
            <label class="col-sm-2 form-control-label" for="confirmPassword">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" />
                <div ngxErrors="confirmPassword"></div>
            </div>
        </div>
        <div class="form-group row" [class.has-danger]="userForm.get('email').invalid">
            <label class="col-sm-2 form-control-label" for="email">Email</label>
            <div class="col-sm-10">
                <input type="email" id="email" class="form-control" formControlName="email" />
                <div ngxErrors="email"></div>
            </div>
        </div>
        <div class="form-group row" [class.has-danger]="userForm.get('role').invalid">
            <label class="col-sm-2 form-control-label" for="role">Role</label>
            <div class="col-sm-10">
                <select id="role" class="form-control" formControlName="role">
                    <option *ngFor="let role of userRoles" [value]="role">{{role}}</option>
                </select>
                <div ngxErrors="role"></div>
            </div>
        </div>
    </form>

    Raw output from form.value:
    <br />
    <pre>{{ userForm.value | json }}</pre>
</div>