html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

nav {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

main {
  height: calc(100% - 60px);
}