<div *ngxErrorDefaultTemplate="let item; maxError:4;"
     class="form-control-feedback"
     style="text-align: center">
    <small>{{item.message}}</small>
</div>

<div class="container">
    <p>Child NgxErrorsService</p>
    <div class="row">
        <div class="col-sm-6">
            <p>Default template with maximum errors set to 4, render if touched</p>
            <form [formGroup]="form1">
                <div class="form-group row" [class.has-danger]="form1.get('password').invalid">
                    <label class="col-sm-2 form-control-label" for="password">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" class="form-control" formControlName="password" />
                        <small ngxErrors="password"></small>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <form [formGroup]="form2">
                <p>Scoped template with maximum errors set to 2 and order 'alwaysFail3', 'invalidPassword'</p>
                <div *ngxErrorDefaultTemplate="let item; maxError:2; order:['alwaysFail3', 'invalidPassword']"
                       class="alert alert-danger">{{item.message}}</div>
                <div class="form-group row" [class.has-danger]="form2.get('password').invalid">
                    <label class="col-sm-2 form-control-label" for="password1">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="password1" class="form-control" formControlName="password" />
                        <div ngxErrors="password"></div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>